*{
  padding: 0;
  margin: 0;
}

/*.MSlider{
  height: 150px;
  width: auto;
  position: relative;
}*/



/*#MSlider-content{
  width: 100%;
  height: 200px;
  position: relative;
  background: #f1f1f1;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}*/

/*.MSlider-item{
  display: inline-flex;
  width: calc(150px - 20px);
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  background: #fff;
}*/

/*.MSlider-item:nth-child(2n+1){
  background: rgb(92, 92, 92);
}*/

/*Contols*/

.MSlider-item{
  font-size: 3em;
}

.MSlider > span{
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #fff;
  background:rgba(0, 0, 0, 0.5);
}

.MSlider #left{
  left: 0;
}

.MSlider #right{
  right: 0;
}
